@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.col-1{
    position: absolute;
    border: solid 1px;
    top: 100px;
    height: 280px;
    width: 100px;
    background: #FCE501;
    border-radius: 10%;
}

#r,#y,#g {
    position: relative;
    border: solid 1px;
    border-radius: 100%;
    height: 70px;
    width: 70px;
}
#r{
    top:15px;
}
#y{
    top:30px;
}
#g{
    top:45px;
}